.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-inline: 30px;
  background-color: #f8f9fa;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.logo {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  text-decoration: none;
}
.nav-link:hover,
.active {
  color: rgba(0, 0, 0, 0.9);
}
.mobile {
  color: rgba(0, 0, 0, 0.9);
  display: none;
  font-size: 1.5rem;
}
@media screen and (max-width: 762px) {
  .mobile {
    display: block;
  }
  .right-header {
    position: fixed;
    z-index: 40;
    right: -400px;
    top: 0;
    width: 350px;
    background-color: #f8f9fa;
    height: 100vh;
    transition: all 0.4s ease-in-out;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    gap: 3rem;
  }
  .right-header .mobile {
    align-self: flex-end;
  }
  .active-header {
    right: 0;
  }
}
@media screen and (max-width: 414px) {
  .right-header {
    width: 100%;
    align-items: center;
    border: none;
  }
}
